$primary : #754FFE;
$secondary: #79758f;
$success: #19cb98;
$info: #29BAF9; 
$warning: #ffaa46;
$danger: #e53f3c;
$light: #f5f4f8;
$dark: #18113c; 
$default-text: #5c5776;

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';